
body{
    background-color: #ffe2b0;
}
header{
    text-align: center;
    margin-bottom: 20px;
}

nav{
    text-align: center;
    margin-bottom: 20px;
}
ul{
    padding-left: 0px;
}
li{
    display: inline;
    margin-right: 100px;
}
li:last-child{
    margin-right: 0px;
}
a{
    font-family: "Roboto";
    color: black;
    font-size: 18px;
}

.section-about{
    background-image: url(../img/01-Картинка-фона.jpg);
    background-position: center;
    background-size: cover;
    height: 640px;
    position: relative;
}

.section-about__block{
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg,rgba(244,213,178,0.8) 0%, rgba(234,156,65,0.8) 100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;
}
.about__block-text{
    width: 390px;
    height: 160px;
    margin: 0 auto;
    border: 1px solid #000000;
    text-align: left;
    padding-left: 10px;
    padding-top: 17px;
}
.about__block-text-title{
    font-family: "Philosopher";
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
}
.about__block-text-desc{
    font-family: "Roboto";
    font-size: 14px;
    margin: 0;
}

.section-description {
    text-align: center;
}
.section-description__icons {
    padding-top: 20px;
    margin-bottom: 20px;
}
.icon{
    width: 290px;
    height: 290px;
    margin-right: 76px;
}
.icon:last-child{
    margin-right: 0px;
}
.section-description__info {
    margin-bottom: 20px;
}
.info-title {
    font-family: "Philosopher";
    font-size: 96px;
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}
.info-text {
    font-family: "Roboto";
    font-size: 18px;
    width: 1000px;
    margin: 0 auto;
}
span{
    color: red;
}
.section-order{
    text-align: center;
    margin-bottom: 20px;
}
.section-order__title{
    font-family: "Philosopher";
    font-size: 36px;
    margin-bottom: 20px;
}
.line{
    width: 1024px;
    border: 1px solid #999;
    margin: 0 auto;
    margin-bottom: 20px;
}
footer{
    height: 80px;
}
